# Dependencies
node_modules

# Build output
dist
build

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Coverage
coverage
.nyc_output

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Misc
*.md
